extends layout

block content
    h1= title
    p Welcome to #{title}
    if posts     
        each post in posts
            .post 
                .post-title= post.title 
                .post-date= post.date 
                .post-content= post.content
                if currentUser 
                    if currentUser.isAdmin 
                        br
                        form(action="", method="POST")
                            input(type="hidden", name="ID", value= post._id)
                            input(type='submit', value='Remove Post')
        if posts.length < 4
            a(href="all-posts") Click here to see all posts